<h1>Your heading might go here!</h1>
<section>
  You body will be inserted here, if you wish to use, modify this file accordingly.
  <%= @email_body %>
</section>
<p>
regards,<br>
Your Name
</p>
<footer>This will be your footer</footer>
